// content: url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='100' width='100'><circle cx='50' cy='50' r='40' stroke='black' stroke-width='3' fill='red' /></svg>");

.icon {
  width: 22.5px;
  background-size: 22.5px 22.5px;
  height: auto;
  display: block;

  &-trend:before{
    content: url('/images/icons/trend.svg');
    vertical-align: middle;
  }
  &-pie:before{
    content: url('/images/icons/pie.svg');
    vertical-align: middle;
  }
  &-power:before{
    content: url('/images/icons/power.svg');
    vertical-align: middle;
  }
  &-plus:before{
    content: url('/images/icons/plus.svg');
    vertical-align: middle;
  }
  &-close:before{
    content: url('/images/icons/close.svg');
    vertical-align: middle;
  }
  &-menu:before{
    content: url('/images/icons/menu.svg');
    vertical-align: middle;
  }
  &-activity:before{
    content: url('/images/icons/activity.svg');
    vertical-align: middle;
  }
  &-message-text:before{
    content: url('/images/icons/message-text.svg');
    vertical-align: middle;
  }
  &-messages-2:before{
    content: url('/images/icons/messages-2.svg');
    vertical-align: middle;
  }
  &-scan:before{
    content: url('/images/icons/scan.svg');
    vertical-align: middle;
  }
  &-bubble:before{
    content: url('/images/icons/bubble.svg');
    vertical-align: middle;
  }
  &-cup:before{
    content: url('/images/icons/cup.svg');
    vertical-align: middle;
  }
  &-document-text:before{
    content: url('/images/icons/document-text.svg');
    vertical-align: middle;
  }
  &-grammerly:before{
    content: url('/images/icons/grammerly.svg');
    vertical-align: middle;
  }
  &-presention-chart:before{
    content: url('/images/icons/presention-chart.svg');
    vertical-align: middle;
  }
  &-profile-2user:before{
    content: url('/images/icons/profile-2user.svg');
    vertical-align: middle;
  }
  &-profile-add:before{
    content: url('/images/icons/profile-add.svg');
    vertical-align: middle;
  }
  &-recovery-convert:before{
    content: url('/images/icons/recovery-convert.svg');
    vertical-align: middle;
  }
  &-lock:before{
    content: url('/images/icons/lock.svg');
    vertical-align: middle;
  }
  &-crown:before{
    content: url('/images/icons/crown.svg');
    vertical-align: middle;
  }
  &-document-normal:before{
    content: url('/images/icons/document-normal.svg');
    vertical-align: middle;
  }
  &-crown-black:before{
    content: url('/images/icons/crown-black.svg');
    vertical-align: middle;
  }
  &-document-normal-black:before{
    content: url('/images/icons/document-normal-black.svg');
    vertical-align: middle;
  }

  &-note:before{
    content: url('/images/icons/note.svg');
    vertical-align: middle;
  }

  &-smile:before{
    content: url('/images/icons/smile.svg');
    vertical-align: middle;
  }

  &-telegram:before{
    content: url('/images/icons/telegram.svg');
    vertical-align: middle;
  }

  &-profile-2user:before{
    content: url('/images/icons/profile-2user.svg');
    vertical-align: middle;
  }

  &-message-minus:before{
    content: url('/images/icons/message-minus.svg');
    vertical-align: middle;
  }

  &-black {
    &-gps:before{
      content: url('/images/icons/gps-black.svg');
      vertical-align: middle;
    }
    &-lamp:before{
      content: url('/images/icons/lamp-black.svg');
      vertical-align: middle;
    }
    &-message-text:before{
      content: url('/images/icons/message-text-black.svg');
      vertical-align: middle;
    }
    &-more:before{
      content: url('/images/icons/more-black.svg');
      vertical-align: middle;
    }
    &-mouse-square:before{
      content: url('/images/icons/mouse-square-black.svg');
      vertical-align: middle;
    }
    &-profile-2user:before{
      content: url('/images/icons/profile-2user-black.svg');
      vertical-align: middle;
    }
    &-tick-circle:before{
      content: url('/images/icons/tick-circle-black.svg');
      vertical-align: middle;
    }
    &-trend-up:before{
      content: url('/images/icons/trend-up-black.svg');
      vertical-align: middle;
    }
    &-scan:before{
      content: url('/images/icons/scan-black.svg');
      vertical-align: middle;
    }
    &-messages-2:before{
      content: url('/images/icons/messages-2-black.svg');
      vertical-align: middle;
    }
    &-message-minus:before{
      content: url('/images/icons/message-minus-black.svg');
      vertical-align: middle;
    }
  }
}
