
// Colors
$color-blue-11: #E8ECFD;
$color-blue-10: #D0D8FB;
$color-blue-9: #A1B1F7;
$color-blue-8: #738AF2;
$color-blue-7: #4362EE;
$color-blue-6: #4361EE;
$color-blue-5: #1130BB;
$color-blue-4: #0D248C;
$color-blue-3: #08185E;
$color-blue-2: #040C2F;
$color-blue-1: #020617;
$color-black: #000000;
$color-gray: #737373;
$color-gray-1: #737373;
$color-gray-2: #B9B9B9;
$color-gray-3: #252525;
$color-gray-4: #D9D9D9;
$color-gray-5:#F7F7F7;
$color-gray-6: #252B34;
$color-gray-7: #233C53;
$color-gray-8:#233153;
$color-gray-9:#242729;
$color-gray-10:#242729;
$color-white: #FFFFFF;


// Font variables
$font-family-permanent: 'Permanent Marker';
$font-family-poppins: 'Poppins';
$font-family-base: 'Roboto', sans-serif;

// Font sizes
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-22: 22px;
$font-size-24: 24px;
$font-size-30: 30px;
$font-size-33: 33px;
$font-size-35: 35px;
$font-size-50: 50px;
$font-size-58: 58px;
$font-size-70: 70px;
// Font weights
$font-weight-thin: Thin; // 100
$font-weight-light: Light; // 300
$font-weight-regular: Regular; // 400
$font-weight-medium: Medium; // 500
$font-weight-semibold: 600; // 500
$font-weight-bold: Bold; // 700
$font-weight-black: Black; // 900

// Spacing variables
$spacing-unit-11: 11px;
$spacing-unit-14: 14px;
$spacing-unit-16: 16px;
$spacing-unit-17: 17px;
$spacing-unit-26: 26px;
$spacing-unit-32: 32px;
$spacing-unit-35: 35px;
$spacing-unit-40: 40px;


// Brakepoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
