<footer class="block-footer">
  <div class="footer-wrapper">
    <div class="footer-wrapper-top">
      <div class="footer-info">
        <h2 class="banner-title title-big">
          <span class="font-family__permanent text-blue">Prof</span>
          <span class="text-white">depo</span>
        </h2>
        <p class="text-description__gray-16">
          Рабочие инструменты для современного бизнеса. Увеличиваем эффективность специалистов, позволяя зарабатывать
          больше.
        </p>
        <a href="#" class="btn-primary__white-big text-black">
          Стать <span class="font-family__permanent text-blue">Pro</span>
        </a>
      </div>
      <div class="footer-menu">
        <h6 class="title-semibold text-white pl-1">Для Pro</h6>
        <ul>
          <li class="menu-item">
            <a routerLink="/home" routerLinkActive="active">Главная</a>
          </li>
          <li class="menu-item">
            <a routerLink="/products" routerLinkActive="active">Продукты</a>
          </li>
          <li class="menu-item">
            <a routerLink="/about" routerLinkActive="active">О нас</a>
          </li>
          <li class="menu-item">
            <a routerLink="/blog" routerLinkActive="active">Блог</a>
          </li>
        </ul>
      </div>
      <div class="footer-social">
        <h6 class="title-semibold text-white pl-1">Соц Сети</h6>
        <ul>
          <li class="menu-item">
            <a href="#">Facebook</a>
          </li>
          <li class="menu-item">
            <a href="#">Linkedin</a>
          </li>
          <li class="menu-item">
            <a href="#">Twitter</a>
          </li>
          <li class="menu-item">
            <a href="#">YouTube</a>
          </li>
          <li class="menu-item">
            <a href="#">Instagram</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-wrapper-bottom">
      <span class="copyright-text text-gray">©2024 Profdepo</span>
    </div>
  </div>
</footer>
