<!-- Univeral: Block Advantages -->
<div class="block-hero">
  <div class="hero-image"></div>
  <div class="hero-text">
    <h2 class="hero-title title-medium">
      <span class="font-family__permanent text-blue">Prof</span>
      <span class="text-black">depo.</span>
      <span class="font-family__permanent text-blue">HR</span>
    </h2>
    <h1 class="title-big-50">
      Забудь о проблеме подбора и найма сотрудников
    </h1>
    <div class="hero-slogan">
      <p class="text-description__gray">
        Интеллектуальный подбор, тестирование и оценка кадров. PROFDEPO HR повышает эффективность, точность и скорость работы с персоналом.
      </p>
      <br />
      <a href="#" class="btn__black-small">
        Начать
      </a>
    </div>
  </div>
</div>

<!-- Desktop: Block Advantages -->
<div class="block-advantages d-flex align-center bg-white">
  <p class="title-medium text-center text-black">
    Это не магия, это решение созданное используя передовые технологии и многолетний опыт. Узнайте,
    как наш продукт —
    <span class="font-family__permanent text-blue">Prof</span>
    <span class="text-black">depo.</span>
    <span class="font-family__permanent text-blue">HR</span>
    трансформирует ваши HR процессы.
  </p>
  <div class="wrapper d-flex justify-center">
    <div class="card-adv d-flex flex-column justify-between border-1 bg-black" style="background-image: url('/images/bg-battery.png')">
      <div>
        <i class="icon-trend"></i>
        <p class="text-white card-title">Увеличение продуктивности</p>
      </div>
      <div class="text-description__white">
        Автоматизация рутинных задач позволяет руководителям и HR-специалистам сосредоточиться на важном.
      </div>
    </div>
    <div class="card-adv d-flex flex-column justify-between border-1 bg-black" style="background-image: url('/images/bg-girl-21.png')">
      <div>
        <i class="icon-pie"></i>
        <p class="text-white card-title">Человек + ИИ</p>
      </div>
      <div class="text-description__white">
        Автоматизация рутинных задач позволяет руководителям и HR-специалистам сосредоточиться на важном.
      </div>
    </div>
    <div class="card-adv d-flex flex-column justify-between border-1 bg-black" style="background-image: url('/images/bg-rocket.png')">
      <div>
        <i class="icon-power"></i>
        <p class="text-white card-title">Точность и Развитие </p>
      </div>
      <div class="text-description__white">
        ИИ находит совпадения и дает предложения, человек проводит финальную оценку. PROFDEPO HR  учится на опыте, постоянно повышая эффективность и точность решений.
      </div>
    </div>
  </div>
</div>

<!-- Desktop: Block Economy -->
<div class="block-economy bg-black">
  <div class="wrapper d-flex flex-column justify-center text-white">
    <div class="d-flex">
      <div class="eco-col mr-1">
        <h2 class="title-big-58">Экономь ресурсы и время</h2>
      </div>
      <div class="eco-col d-flex flex-column justify-end align-center eco-arrow">
        <img src="images/arc-arrow-left.svg"/>
      </div>
    </div>
    <div class="d-flex position-relative">
      <div class="eco-col desk-price-labels mr-1">
        <div class="card pt-1">
          <h3>&nbsp;</h3>
          <p>Затраты на подбор</p>
          <p>Потери при увольнении</p>
          <p>Текучесть кадров</p>
          <p>Время закрытия вакансии</p>
        </div>
      </div>
      <div class="eco-col d-flex flex-column">
        <div class="wrapper-cards d-flex">
          <div class="card text-center pt-1 bg-gray-6">
            <h3>
              Человек +
              <span class="font-family__permanent text-blue">Prof</span>
              <span class="text-white">depo.</span>
              <span class="font-family__permanent text-blue">HR</span>
            </h3>
            <div class="title-medium-22 card-body">
              <p><span>Затраты на подбор</span><span>60 000 ₽</span></p>
              <p><span>Потери при увольнении</span><span>150 000 ₽</span></p>
              <p><span>Текучесть кадров</span><span>10%</span></p>
              <p><span>Время закрытия вакансии</span><span>15 дней</span></p>
            </div>
          </div>
          <div class="card text-center pt-1 bg-gray-9">
            <h3 class="text-center">Человек</h3>
            <div class="title-medium-22 card-body">
              <p><span>Затраты на подбор</span><span>120 000 ₽</span></p>
              <p><span>Потери при увольнении</span><span>300 000 ₽</span></p>
              <p><span>Текучесть кадров</span><span>25%</span></p>
              <p><span>Время закрытия вакансии</span><span>30 дней</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Desktop: Block Infolist -->
<div class="block-infolist bg-white">
  <h1 class="title-big text-center">
    <span class="font-family__permanent text-blue">Prof</span>
    <span class="text-black">depo.</span>
    <span class="font-family__permanent text-blue">HR</span>
  </h1>
  <app-accordion></app-accordion>
  <a class="btn__black-small mt-1">Начать</a>
</div>

<!-- Desktop: How To Working -->
<div class="block-how2working bg-black">
  <h1 class="title-big text-white text-center">Как это работает</h1>
  <div class="wrapper d-flex justify-center">
    <!--Card 1-->
    <div class="work-item mr-1 text-center">
      <div class="card bg-gray-6" style="background-image: url('/images/h2t-1.png')">
      </div>
      <h2 class="font-family__permanent text-blue">1</h2>
      <p class="text-white">Создайте вакансию и анкету для кандидатов</p>
    </div>
    <!--Card 2-->
    <div class="work-item mr-1 text-center">
      <div class="card bg-gray-7" style="background-image: url('/images/h2t-2.png')">
      </div>
      <h2 class="font-family__permanent text-blue">2</h2>
      <p class="text-white">Поделитесь ссылкой на анкетус кандидатом любым удобным способом</p>
    </div>
    <!--Card 3-->
    <div class="work-item mr-1 text-center">
      <div class="card bg-gray-8" style="background-image: url('/images/h2t-3.png')">
      </div>
      <h2 class="font-family__permanent text-blue">3</h2>
      <p class="text-white">Kандидат переходит по ссылке для заполнения анкеты и тестирования</p>
    </div>
    <!--Card 4-->
    <div class="work-item mr-1 text-center">
      <div class="card bg-gray-6" style="background-image: url('/images/h2t-4.png')">
      </div>
      <h2 class="font-family__permanent text-blue">4</h2>
      <p class="text-white">Отслеживайте результаты аналитики анкет от ИИ в личном кабинете</p>
    </div>
  </div>
</div>

<!-- Desktop: Block Big Image -->
<div class="block-bigimage" style="background-image: url('/images/girl-bg.png')"></div>

<!-- Univeral: Block Price -->
<div class="block-price">
  <h1 class="title-big text-black text-center">Стоимость</h1>
  <p class="text-description__gray text-center">
    Используйте Profdepo.hr во всю мощь и без ограничений. На любом тарифе действует:
  </p>
  <div class="wrapper d-flex justify-center">
    <!--Card 1-->
    <div class="price-card bg-gray-5">
      <div class="head text-center" style="background-image: url('/images/price-card-bg-1.png')">
        <h2 class="text-white">10000₽/мес.</h2>
      </div>
      <div class="content">
        <ul>
          <li><i class="icon-crown-black"></i>Безлимитное количество вакансий </li>
          <li><i class="icon-document-normal-black"></i>Неограниченное количество откликов</li>
        </ul>
      </div>
      <div class="foot text-center">
        <a class="btn-primary__black-big">Начать</a>
      </div>
    </div>
    <!-- Card 2 -->
    <div class="price-card bg-black">
      <div class="head text-center" style="background-image: url('/images/price-card-bg-2.png')">
        <p class="card-recoment-text">
          <span>Рекомендуем</span>
        </p>
        <h2 class="text-white">51000₽/6 мес.</h2>
        <span class="font-family__permanent text-discount">(-15%)</span>
      </div>
      <div class="content text-white">
        <ul>
          <li><i class="icon-crown"></i>Безлимитное количество вакансий</li>
          <li><i class="icon-document-normal"></i>Неограниченное количество откликов</li>
        </ul>
      </div>
      <div class="foot text-center">
        <a class="btn-primary__white-big">Начать</a>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="price-card bg-gray-5">
      <div class="head text-center" style="background-image: url('/images/price-card-bg-3.png')">
        <h2 class="text-white">96000 ₽/12 мес.</h2>
        <span class="font-family__permanent text-discount">(-20%)</span>
      </div>
      <div class="content">
        <ul>
          <li><i class="icon-crown-black"></i>Безлимитное количество вакансий </li>
          <li><i class="icon-document-normal-black"></i>Неограниченное количество откликов</li>
        </ul>
      </div>
      <div class="foot text-center">
        <a class="btn-primary__black-big">Начать</a>
      </div>
    </div>
  </div>
</div>

