<!-- Univeral: Block Advantages -->
<div class="block-hero">
  <div class="wrapper">
    <div class="hero-image"></div>
    <div class="hero-text">
      <h2 class="hero-title title-medium">
        <span class="font-family__permanent text-blue">Prof</span>
        <span class="text-white">depo.</span>
        <span class="font-family__permanent text-blue">TEAM</span>
      </h2>
      <h1 class="title-big-50 text-white">
        Управление сотрудниками с помощью исследования рабочих чатов
      </h1>
      <div class="hero-slogan">
        <p class="text-description__gray1">
          Оптимизируй свой бизнес с нашим сервисом глубинного анализа коммуникации, основанном на искусственном интеллекте
        </p>
        <br />
        <a href="#" class="btn__black-small">
          Начать <span class="font-family__permanent text-blue">TEAM</span>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Desktop: Block Advantages -->
<div class="block-advantages d-flex align-center bg-white">
  <p class="title-medium text-left text-black">
    Эффективность одного сотрудника – в его навыках, но успех команды кроется в качестве коммуникации и совместимости личных качеств ее членов. Узнай реальную продуктивность команды, внедрив аналитику рабочих чатов!
  </p>
  <div class="wrapper d-flex justify-center">
    <div class="card-adv d-flex flex-column justify-between border-1 bg-black" style="background-image: url('/images/bg-cmd.png')">
      <div>
        <i class="icon-trend"></i>
        <p class="text-white card-title">Идеальный помощник</p>
      </div>
      <div class="text-description__white">
        Profdepo Team упростит работу проектных менеджеров, руководителей, HR и владельцев бизнеса.
      </div>
    </div>
    <div class="card-adv d-flex flex-column justify-between border-1 bg-black" style="background-image: url('/images/bg-girl-22.png')">
      <div>
        <i class="icon-pie"></i>
        <p class="text-white card-title">Человек + ИИ</p>
      </div>
      <div class="text-description__white">
        ИИ-сервис для сканирования диалогов в рабочих чатах заберет рутинные задачи и предоставит наиболее важную информацию о коммуникациях вашей команды.
      </div>
    </div>
    <div class="card-adv d-flex flex-column justify-between border-1 bg-black" style="background-image: url('/images/bg-docum.png')">
      <div>
        <i class="icon-power"></i>
        <p class="text-white card-title">Продуктивность</p>
      </div>
      <div class="text-description__white">
        Исследуйте, контролируйте и управляйте командой. Profdepo.Team  повысит продуктивность бизнеса, предоставив инструменты для принятия верных решений.
      </div>
    </div>
  </div>
</div>

<!-- Desktop: Block Featlist -->
<div class="block-featlist bg-white">
  <div class="wrapper d-flex">
    <div class="feat-banner" style="background-image:url('images/bg-man-1.png')">
      <div class="widget-user-card">
        <div class="widget-user-bg"></div>
        <div class="widget-user-body">
          <h3>Проверь активность команды</h3>
          <div class="user-circles">
            <span class="user-item">
              <img src="/images/avatar_1.png"/>
            </span>
            <span class="user-item">
              <img src="/images/avatar_2.png"/>
            </span>
            <span class="user-item">
              <img src="/images/avatar_3.png"/>
            </span>
            <span class="user-item">
              <img src="/images/avatar_4.png"/>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="feat-list">
      <h1 class="title-medium">
        <span class="font-family__permanent text-blue">Prof</span>
        <span class="text-black">depo.</span>
        <span class="font-family__permanent text-blue">TEAM</span>
      </h1>
      <ul>
        <li><i class="icon-black-mouse-square"></i>Контроль над поручениями и их исполнением</li>
        <li><i class="icon-black-profile-2user"></i>Оценка активности каждого сотрудника и его вовлеченности</li>
        <li><i class="icon-black-message-text"></i>Прозрачность обсуждаемых тем, устранение флуда</li>
        <li><i class="icon-black-gps"></i>Выявление проблем и важных вопросов</li>
        <li><i class="icon-black-trend-up"></i>Эффективное управление рабочим временем сотрудников</li>
        <li><i class="icon-black-more"></i>Анализ стиля взаимодействия сотрудников</li>
        <li><i class="icon-black-tick-circle"></i>Разрешение конфликтов, нахождение оптимальных решений</li>
        <li><i class="icon-black-lamp"></i>Устранение повторяющихся процессов</li>
      </ul>
      <a class="btn-primary__black-big">Начать</a>
    </div>
  </div>
</div>


<!-- Desktop: Block Economy -->
<!-- <div class="block-economy bg-black">
  <div class="wrapper d-flex flex-column justify-center text-white">
    <div class="d-flex">
      <div class="eco-col mr-1">
        <h2 class="title-big-58">Экономь ресурсы и время</h2>
      </div>
      <div class="eco-col d-flex flex-column justify-end align-center eco-arrow">
        <img src="images/arc-arrow-left.svg"/>
      </div>
    </div>
    <div class="d-flex position-relative">
      <div class="eco-col desk-price-labels mr-1">
        <div class="card pt-1">
          <h3>&nbsp;</h3>
          <p>Затраты на подбор</p>
          <p>Потери при увольнении</p>
          <p>Текучесть кадров</p>
          <p>Время закрытия вакансии</p>
        </div>
      </div>
      <div class="eco-col d-flex flex-column">
        <div class="wrapper-cards d-flex">
          <div class="card text-center pt-1 bg-gray-6">
            <h3>
              Человек +
              <span class="font-family__permanent text-blue">Prof</span>
              <span class="text-white">depo.</span>
              <span class="font-family__permanent text-blue">TEAM</span>
            </h3>
            <div class="title-medium-22 card-body">
              <p><span>Затраты на подбор</span><span>60 000 ₽</span></p>
              <p><span>Потери при увольнении</span><span>150 000 ₽</span></p>
              <p><span>Текучесть кадров</span><span>10%</span></p>
              <p><span>Время закрытия вакансии</span><span>15 дней</span></p>
            </div>
          </div>
          <div class="card text-center pt-1 bg-gray-9">
            <h3 class="text-center">Человек</h3>
            <div class="title-medium-22 card-body">
              <p><span>Затраты на подбор</span><span>120 000 ₽</span></p>
              <p><span>Потери при увольнении</span><span>300 000 ₽</span></p>
              <p><span>Текучесть кадров</span><span>25%</span></p>
              <p><span>Время закрытия вакансии</span><span>30 дней</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- Desktop: Block Infolist -->
<!-- <div class="block-infolist bg-white">
  <h1 class="title-big text-center">
    <span class="font-family__permanent text-blue">Prof</span>
    <span class="text-black">depo.</span>
    <span class="font-family__permanent text-blue">TEAM</span>
  </h1>
  <app-accordion></app-accordion>
  <a class="btn__black-small mt-1">Начать</a>
</div> -->
<!-- Desktop: How To Working -->
<div class="block-how2working bg-black">
  <h1 class="title-big text-white text-center">Как это работает?</h1>
  <div class="wrapper d-flex justify-center">
    <!--Card 1-->
    <div class="work-item mr-1 text-center">
      <!-- <div class="card bg-gray-6" style="background-image: url('/images/h2t-1.png')">
      </div> -->
      <h2 class="font-family__permanent text-blue">1 <i class="icon-telegram"></i></h2>
      <p class="text-white">Добавьте бота
        <span class="font-family__permanent text-blue">Prof</span>
        <span class="text-white">depo.</span>
        <span class="font-family__permanent text-blue">TEAM</span>
        Manager в рабочий чат Telegram</p>
    </div>
    <!--Card 2-->
    <div class="work-item mr-1 text-center">
      <h2 class="font-family__permanent text-blue">2 <i class="icon-smile"></i></h2>
      <p class="text-white">Запросите исследование у бота</p>
    </div>
    <!--Card 3-->
    <div class="work-item mr-1 text-center">
      <h2 class="font-family__permanent text-blue">3 <i class="icon-note"></i></h2>
      <p class="text-white">Получите отчет об эффективности команды</p>
    </div>
  </div>
  <p class="bottom-desc text-center text-description__gray1">
    Если вы используете другие мессенджеры для работы, заполните форму обратной связи в конце страницы указав ваш рабочий мессенджер. Наша команда займется адаптацией profdepo team для вас!
  </p>
</div>

<!-- Desktop: Block Effect-->
<div class="block-effect bg-white">
  <div class="wrapper d-flex">
    <div class="feat-list">
      <h1 class="title-big-50">
        Собери <span class="font-family__permanent text-blue">pro</span>дуктивную команду исследуя взаимодействия сотрудников
      </h1>
      <p class="body-desc text-description__gray">
        Повысь эффективность бизнеса за счёт правильной «перетасовки» сотрудников между командами. Profdepo.team  подскажет, как это сделать правильно.
      </p>
      <a class="btn-primary__black-big">Начать</a>
    </div>
    <div class="feat-banner" style="background-image:url('images/bg-girl-boy.png')">
      <div class="widget-message-list">
        <div class="widget-message-item">
          <img class="msq-user" src="images/notifications.svg"/>
          <span class="msg-body">
            Анализ переписки команды завершен
          </span>
        </div>
        <div class="widget-message-item">
          <span class="msg-body">
            Выявлены важные коммуникационные паттерны
          </span>
          <img class="msq-user" src="images/notifications.svg"/>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Desktop: Block Big Image -->
<!-- <div class="block-bigimage" style="background-image: url('/images/girl-bg.png')"></div> -->

<!-- Univeral: Block Price -->
<div class="block-price">
  <h1 class="title-big text-black text-center">Стоимость</h1>
  <p class="text-description__gray text-center">
    Используйте Profdepo.team во всю мощь и без ограничений. На любом тарифе действует:
  </p>
  <div class="wrapper d-flex justify-center">
    <!--Card 1-->
    <div class="price-card bg-gray-5">
      <div class="head text-center" style="background-image: url('/images/price-card-bg-1.png')">
        <h2 class="text-white">10000₽/мес.</h2>
      </div>
      <div class="content">
        <ul>
          <li><i class="icon-black-message-minus"></i>1 подписка на 1 чат</li>
          <li><i class="icon-black-messages-2"></i>Без лимита на количество сообщений</li>
          <li><i class="icon-black-profile-2user"></i>Без лимита на количество участников</li>
          <li><i class="icon-black-scan"></i>Без лимитов на количество исследований</li>
        </ul>
      </div>
      <div class="foot text-center">
        <a class="btn-primary__black-big">Начать</a>
      </div>
    </div>
    <!-- Card 2 -->
    <div class="price-card bg-black">
      <div class="head text-center" style="background-image: url('/images/price-card-bg-2.png')">
        <p class="card-recoment-text">
          <span>Рекомендуем</span>
        </p>
        <h2 class="text-white">51000₽/6 мес.</h2>
        <span class="font-family__permanent text-discount">(-15%)</span>
      </div>
      <div class="content text-white">
        <ul>
          <li><i class="icon-message-minus"></i>1 подписка на 1 чат</li>
          <li><i class="icon-messages-2"></i>Без лимита на количество сообщений</li>
          <li><i class="icon-profile-2user"></i>Без лимита на количество участников</li>
          <li><i class="icon-scan"></i>Без лимитов на количество исследований</li>
        </ul>
      </div>
      <div class="foot text-center">
        <a class="btn-primary__white-big">Начать</a>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="price-card bg-gray-5">
      <div class="head text-center" style="background-image: url('/images/price-card-bg-3.png')">
        <h2 class="text-white">96000 ₽/12 мес.</h2>
        <span class="font-family__permanent text-discount">(-20%)</span>
      </div>
      <div class="content">
        <ul>
          <li><i class="icon-black-message-minus"></i>1 подписка на 1 чат</li>
          <li><i class="icon-black-messages-2"></i>Без лимита на количество сообщений</li>
          <li><i class="icon-black-profile-2user"></i>Без лимита на количество участников</li>
          <li><i class="icon-black-scan"></i>Без лимитов на количество исследований</li>
        </ul>
      </div>
      <div class="foot text-center">
        <a class="btn-primary__black-big">Начать</a>
      </div>
    </div>
  </div>
</div>

<!-- Desktop: Contact -->
<div class="block-contact bg-black">
  <h1 class="title-big text-white text-center">
    Нужна <span class="font-family__permanent text-blue">prof</span> помощь?
  </h1>
  <div class="wrapper d-flex justify-center">
    <p class="body-desc text-description__gray1">
      Начните оптимизировать внутренние коммуникации уже сегодня и обеспечьте процветание вашего бизнеса! Укажите ваш рабочий мессенджер в сообщении и мы адаптируем profdepo team для вас!
    </p>
    <form class="contact-form" action="#">
      <input type="text" name="name" placeholder="Имя"/>
      <input type="text" name="phone" placeholder="Телефон"/>
      <input type="text" name="company" placeholder="Компания"/>
      <input type="text" name="message" placeholder="Опишите вашу проблему"/>
      <input type="submit" value="Отправить" class="btn-primary__white-big w-100">
    </form>
  </div>
</div>

